/* public */
html,body,form,ol,ul,li,div,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,th,td,font,em,ins,span,a{margin:0; padding:0; font-family:"微软雅黑";}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;font-weight:normal}
html{_filter:expression(document.execCommand("BackgroundImageCache",false,true));overflow-x:hidden;}
ul,li,div,dl,dt,dd{list-style:none;}
h1.wm-public{height:0px; line-height:0px; font-size:0px;}
a{text-decoration:none;}
a{blr:expression(this.onFocus=this.blur());outline:none;}
font{font-family:"Microsoft YaHei";}/*a:hover{text-decoration:underline;}*/
a:hover{text-decoration:none;}
img{border:0;}
font,em{font-style:normal; font-family:\5b8b\4f53;}
label{vertical-align:middle; font-family:tahoma;}
textarea,input{resize:none; outline:none;}
textarea{overflow:auto;}
ins{float:right; text-decoration:none; font-weight:normal;}
.pub_wsp{word-wrap:break-word; word-break:break-all;}
.pub_abso{vertical-align:middle;}
.pub_clr{clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.pub_yh{font-family:"Microsoft YaHei";}
.none{display:none;}
html,body{width:100%;height:100%;}
body{background:#000; font-size:12px; font-family:Verdana,Geneva,sans-serif,\5b8b\4f53;}


#inline_content{ background:url(../images/input_cg.jpg);width:790px; height: 416px; overflow: hidden; position:relative;}
.one{position:absolute; bottom:10px;left:10px; }
.two{position:absolute; bottom:10px; left:210px;}
.three{position:absolute; bottom:10px; left:395px;}
.four{position:absolute; bottom:10px;left:590px;}
/*浮动清理*/
.cf:before,.cf:after{content:".";display:block;height:0;visibility:hidden}
.cf:after{clear:both}
.cf{zoom:1}
/*弹窗*/
.masked{background: rgba(0,0,0,0.8);position: fixed; display:none;width:100%;height:100%;left:0;top:0; z-index:11;}
.login_box{width: 900px;position: fixed;color:#fff;top:50%;left:50%;transform:translate(-50%,-50%);padding:20px;display:none;z-index:12; transition: all 0.3s;}
.login_content{width:900px; margin:0 auto; display: flex; justify-content: space-between;}
.closed{float: right; height: 50px;margin-bottom: 10px;}
.closed img{transition: all 0.3s;}
.closed img:hover{transform:rotate(90deg);}
.login_right{display: flex; align-items: center; justify-content: center; flex-direction:column;}
/*右边*/
.top_right{text-align:center; z-index:10; position:fixed; top:280px; right:0px; background:url(../images/top_right_bg.png); width:268px; height:204px; padding-top:20px;}
.right_icon{width:204px; text-align:center;  }
.right_icon1{width:204px; text-align:center; }


/*第一屏幕*/
.page_1 {background: url(../images/bg_01.jpg) center center no-repeat;  height:1062px;}

.mainShow1{ width:1500px; margin:0 auto;position:relative; }
    /*顶部导航*/
.nav_btn{ height:90px; width:100%; position:relative;}
.nav_btn ul{ list-style:none;}
.nav_list li a{  display:block; height:27px;}
.nav_list li a.nav_01{position:absolute; top:29px; left:34px;width:99px; background:url(../images/nav_01.png) no-repeat;}
.nav_list li a.nav_02{position:absolute; top:29px; left:218px;width:218px; background:url(../images/nav_02.png) no-repeat;}
.nav_list li a.nav_03{position:absolute; top:29px; left:500px;width:137px;  background:url(../images/nav_03.png) no-repeat;}
.nav_list li a.nav_04{position:absolute; top:29px; left:739px;width:105px;  background:url(../images/nav_04.png) no-repeat;}
.nav_list li a.nav_05{position:absolute; top:29px; left:954px;width:106px;  background:url(../images/nav_05.png) no-repeat;}
.nav_list li a.nav_01:hover,.nav_list li a.nav_01.on{ background:url(../images/nav_01_hover.png) no-repeat;}
.nav_list li a.nav_02:hover,.nav_list li a.nav_02.on{ background:url(../images/nav_02_hover.png) no-repeat;}
.nav_list li a.nav_03:hover,.nav_list li a.nav_03.on{ background:url(../images/nav_03_hover.png) no-repeat;}
.nav_list li a.nav_04:hover,.nav_list li a.nav_04.on{ background:url(../images/nav_04_hover.png) no-repeat;}
.nav_list li a.nav_05:hover,.nav_list li a.nav_05.on{ background:url(../images/nav_05_hover.png) no-repeat;}
.logo{width:371px; height:169px; position:absolute;top:564px; left:368px;animation:scaleA 1s .2s ease both;-webkit-animation:scaleA 1s .2s ease both;-ms-animation:scaleA 1s .2s ease both;-moz-animation:scaleA 1s .2s ease both;-o-animation:scaleA 1s .2s ease both; }
@keyframes scaleA{0%{opacity:0;-webkit-transform:scale(2,2);}80%{-webkit-transform:scale(.9,.9);}100%{opacity:1;-webkit-transform:scale(1,1);}}
@-webkit-keyframes scaleA{ 0%{opacity:0;-webkit-transform:scale(2,2);} 80%{-webkit-transform:scale(.9,.9);}100%{opacity:1;-webkit-transform:scale(1,1);}}
@-ms-keyframes scaleA{ 0%{opacity:0;-ms-transform:scale(2,2);} 80%{-ms-transform:scale(.9,.9);}100%{opacity:1;-ms-transform:scale(1,1);}}
@-moz-keyframes scaleA{0%{opacity:0;-moz-transform:scale(2,2);}80%{-moz-transform:scale(.9,.9);}100%{opacity:1;-moz-transform:scale(1,1);}}
@-o-keyframes scaleA{0%{opacity:0;-o-transform:scale(2,2);}80%{-o-transform:scale(.9,.9);}100%{opacity:1;-o-transform:scale(1,1);}}
@keyframes movebottom{from{transform: translateY(-3px);}25%{transform: translateY(0px);} 50%{transform: translateY(3px);}75%{transform: translateY(0px);}to{transform: translateY(-3px);}}
@-webkit-keyframes movebottom{from{-webkit-transform: translateY(-3px);}25%{-webkit-transform: translateY(0px);}50%{-webkit-transform: translateY(3px);}75%{-webkit-transform: translateY(0px);}to{-webkit-transform: translateY(-3px);}}
.input1 {height: 42px; width: 279px;position: absolute; top: 839px;left: 431px; }
.text_content1{width:279px; height:42px; line-height:42px; background:none; font-size:18px; float:left; border:none; overflow:hidden; text-align:center; }
.login_btn a{position: absolute;top: 839px; left: 733px; width: 122px; height: 42px; display: block;}
.btn_box{width:721px; display: flex; justify-content:space-between; position: absolute; top:960px; left: 189px;}
.btn_box a img,.right_icon a img{overflow-x: hidden;overflow-y: hidden;  position: relative;z-index:1;transition-delay: 0s;transition-duration: 1s;transition-property: all; transition-timing-function: ease;
	/* Firefox 4 */-moz-transition-delay: 0s;-moz-transition-duration: 1s;  -moz-transition-property: all;-moz-transition-timing-function: ease;
/* Safari 和 Chrome */-webkit-transition-delay: 0s; -webkit-transition-duration: 1s;-webkit-transition-property: all; -webkit-transition-timing-function: ease;
	/* Opera */-o-transition-delay: 0s;-o-transition-duration: 1s;-o-transition-property: all;-o-transition-timing-function: ease;}
.btn_box a:hover img,.right_icon a:hover img {transform: scale(1.2, 1.2);	-ms-transform:scale(1.2, 1.2); 	/* IE 9 */-moz-transform:scale(1.2, 1.2); 	/* Firefox */-webkit-transform:scale(1.2, 1.2); /* Safari 和 Chrome */-o-transform:scale(1.2, 1.2); 	/* Opera */}
/* .fixe_btn{position:absolute; width:38px; left:50%; margin-left:-19px; top:840px;-webkit-animation: arrowAni 1s linear infinite alternate both;
  -moz-animation: arrowAni 1s linear infinite alternate both;
  -ms-animation: arrowAni 1s linear infinite alternate both;
  animation: arrowAni 1s linear infinite alternate both;} */
/*第二屏幕*/
  .page_2{ background:url(../images/bg_02.jpg) center center no-repeat; height:896px;min-width:1000px;}
  .da_cheng01{position:absolute; top:270px; left:130px; width:157px; height:108px;}
  .da_cheng02{position:absolute; top:270px; left:334px;width:157px; height:108px;}
  .da_cheng03{position:absolute; top:488px; left:130px;width:157px; height:108px; }
  .da_cheng04{position:absolute; top:488px; left:334px; width:157px; height:108px;}
  .details a{position:absolute; top:788px; left:174px; width:317px; height:58px; display: block; cursor: pointer; z-index:10;}
/*第三屏幕*/ 
  .page_3{ background:url(../images/bg_03.jpg) center center no-repeat; height:1010px;min-width:1000px;}
  .bg_video{ position:absolute; bottom:220px; left: 110px; display:none;}
  .click_btn{position:absolute; bottom:120px; left: 423px; z-index:3;}
  .box_img{position:absolute; bottom:220px; left: 410px;z-index:3;}
  .text{position: absolute; top:174px; left: 81px;z-index:1;}
.card_role{position: absolute; bottom:-52px; left: -284px;z-index:1;}


/*第四屏幕*/ 
  .page_4{ background:url(../images/bg_04.jpg) center center no-repeat; height:1074px; position:relative;}
  .game_roles{width:1500px; height:1074px; position:relative; }
  .game_roles .swiper-slide{width:640px; height:864px; position:relative;}
  .role_info{position:absolute; top:313px; left:303px; z-index:1000;width:496px; opacity:0; -webkit-transform:translate(-100%, 0); transform:translate(-100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s; z-index:99;}
  .role_jineng1 {width:426px; height:213px; position:relative;top:410px;left:308px; background:url(../images/yinpin_01.png); opacity:0;  -webkit-transform:translate(-100%, 0); transform: translate(-100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
  .role_jineng2 {width:426px; height:213px;  position:relative; top:410px;left:308px; background:url(../images/yinpin_02.png); opacity:0;  -webkit-transform:translate(-100%, 0); transform: translate(-100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
  .role_jineng3 {width:426px; height:213px;  position:relative;top:410px; left:308px;background:url(../images/yinpin_03.png); opacity:0;  -webkit-transform:translate(-100%, 0); transform: translate(-100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
  .role_jineng4 {width:426px; height:213px; position:relative; top:410px;left:308px;background:url(../images/yinpin_04.png); opacity:0;  -webkit-transform:translate(-100%, 0); transform: translate(-100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
  .role_jineng5 {width:426px; height:213px;  position:relative; top:410px;left:308px; background:url(../images/yinpin_05.png); opacity:0;  -webkit-transform:translate(-100%, 0); transform: translate(-100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
  .page_4 .swiper-button-next{background:url(../images/right_row.png);width:72px; height:101px; position: absolute; top: 460px;right:150px;}
  .page_4 .swiper-button-prev{background:url(../images/left_row.png);width:72px; height:101px;position: absolute; top: 460px;left:150px;}
  .role_img1{position:absolute; top:169px; right:43px; opacity:0;  -webkit-transform:translate(100%, 0); transform: translate(100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
  .role_img2{position:absolute; top:169px; right:0px; opacity:0; -webkit-transform:translate(100%, 0); transform: translate(100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
  .role_img3{position:absolute; top:169px; right:42px; opacity:0; -webkit-transform:translate(100%, 0); transform: translate(100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
  .role_img4{position:absolute; top:169px; right:33px; opacity:0; -webkit-transform:translate(100%, 0); transform: translate(100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
  .role_img5{position:absolute; top:169px; right:82px; opacity:0; -webkit-transform:translate(100%, 0); transform: translate(100%, 0); -webkit-transition:all 0.3s; transition:all 0.3s;}
  .game_roles .swiper_dock_list{ width:520px; height:101px;position:relative;background:url(../images/small_btn_03.png) no-repeat; z-index:9999; margin:0 auto;}
  .game_roles .swiper_dock_list li:nth-child(1),.game_roles .swiper_dock_list li:nth-child(2),.game_roles .swiper_dock_list li:nth-child(3),.game_roles .swiper_dock_list li:nth-child(4),.game_roles .swiper_dock_list li:nth-child(5){width:111px; height:94px; cursor:pointer; }
  .game_roles .swiper_dock_list li:nth-child(1){position: absolute; top:5px; left:2px;}
  .game_roles .swiper_dock_list li:nth-child(2){position: absolute; top:5px; left:104px;}
  .game_roles .swiper_dock_list li:nth-child(3){position: absolute; top:5px; left:205px;}
  .game_roles .swiper_dock_list li:nth-child(4){position: absolute; top:5px; left:308px;}
  .game_roles .swiper_dock_list li:nth-child(5){position: absolute; top:5px; left:409px;}
  .game_roles .swiper_dock_list li img{display:none;}
  .game_roles .swiper_dock_list li .icon.on{display:block;}
  .game_roles .swiper-slide-active .role_info{-webkit-transform: translate(0, 0); transform: translate(0, 0); -webkit-transition: all 0.3s; transition: all 0.3s; opacity:1;}
  .game_roles .swiper-slide-active .role_img{opacity:1; -webkit-transform:translate(0, 0); transform: translate(0, 0); -webkit-transition: all 0.3s; transition: all 0.3s;}
  .game_roles .swiper-slide-active .role_jineng{opacity:1; -webkit-transform:translate(0, 0); transform: translate(0, 0); -webkit-transition: all 0.5s; transition: all 0.5s;}
  a.video{    position: absolute; top: 71px;left: 135px;width: 50px;height: 30px;display: block;cursor: pointer;}
/*第五屏幕*/ 
.page_5{ background:url(../images/bg_05.jpg) center center no-repeat; height:830px;}
#carousel {position:relative;	z-index:2;	margin-top:220px;transform-style:preserve-3d;perspective:800px}
#carousel img {position:absolute;left:50%;top:50%;margin-left:-362px;transition:transform .5s ease-in-out;/* box-shadow:8px 8px 20px rgba(0,0,0,.2); */	cursor:pointer}
#bannerNav {	position:relative;	margin-top:47px;height:10px;padding:10px 0;text-align:center}
#bannerNav ul li {cursor:pointer;overflow:hidden;display:inline-block;margin:0 10px}
#bannerNav ul li a {margin:0 auto;display:block;width:12px;height:12px;	background:url(../images/active_hover1.png) no-repeat;font-size: 0;}
#bannerNav ul li.on a {	background:url(../images/active_hover.png) no-repeat;width:68px}

#carousel {height:400px}
#carousel img {width:724px;border-radius: 10px;opacity: 0;}
/*第六屏幕*/ 
.page_6{ background:url(../images/bg_06.jpg) center center no-repeat; height:463px;}
.icon_ico{position: absolute;top:190px; left: 40px;}
.twitter_box{width:463px; height: 218px; position: absolute; top:182px;right:100px;}
/*第七屏幕*/  
.page_7{width:100%;height:160px;background:#161212; padding-top:40px;}
.page_7 .flex{ text-align: center;}
.page_7 div{margin-bottom: 8px;}
/*返回顶部*/ 
#top-back{ position:fixed; bottom:50px; right:50px; width:50px; height:50px; color:#fff; background-color:#000; text-align:center; line-height:50px; z-index:9;}
#top-back a{color:#fff;}
  /* .play a{display: block;width:76px;height:76px;background: url("../images/header_btn_2.png") no-repeat center center;background-size: 100% 100%;-webkit-animation:circle 5s infinite linear;}
  @-webkit-keyframes circle{0%{ transform:rotate(0deg); }100%{ transform:rotate(360deg); }}
*/
  









